[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.32.4"
kubernetes = "*"
pyyaml = "*"
pandas = "*"
numpy = "*"

[dev-packages]
pyproject-pipenv = "*"
build = "*"

[requires]
python_version = "3.13"
