[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
pyyaml = "*"
pandas = ">=2.3.0"
requests = "*"
click = "*"
rich = "*"
numpy = "*"

[dev-packages]
pyproject-pipenv = "*"
build = "*"
ipykernel = "*"
pytest = "*"
pyarrow = "*"
sustainability-measurement-agen = {path = ".", editable = true}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
