[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
pyyaml = "*"
pandas = ">=2.3.0"
numpy = "<2"
requests = "*"
tables = "==3.9.2"
click = "*"

[dev-packages]
pyproject-pipenv = "*"
build = "*"
ipykernel = "*"
pytest = "*"

[requires]
python_version = "3.9"
